@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Welcome Kijabe Hospital</strong></h1>

    <a asp-controller="Home" asp-action="Rfq"
       class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg
              focus:outline-none focus:ring-4 focus:ring-blue-300 transition-all transform hover:scale-105 mt-6">
        Create RFQ
    </a>
</div>